<a href="https://colab.research.google.com/github/Rmiller01/Btech-Python/blob/main/Module_2_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('imdb.csv')

In [ ]:
print('average',df['Runtime'].mean())

In [ ]:
print('hours',df['Runtime'].sum()/60)

In [ ]:
print('Median Met Score',df['Meta_score'].median())

In [ ]:
df['Genre'].value_counts()

In [ ]:
df['Director'].nunique()

548

In [ ]:
most_common_star1 = df['Star1'].value_counts().idxmax()

print(f"The actor who appeared the most times in the 'Star1' column is: {most_common_star1}")

The actor who appeared the most times in the 'Star1' column is: Tom Hanks

In [ ]:
max_movie_year = df['Released_Year'].max()

print(f'The oldest movie year is {max_movie_year}')

The oldest movie year is PG

In [ ]:
Most_Gross = df['Gross'].max()

print(f'The move that produced the most gross is {Most_Gross}')

The move that produced the most gross is 936662225.0

In [ ]:
max_votes = df['No_of_Votes'].max()
df.loc[df['No_of_Votes'] == max_votes, ['Series_Title']]

               Series_Title
0  The Shawshank Redemption

In [ ]:
most_gross = df['Gross'].idxmax()

most_movie = df.loc[most_gross, 'Series_Title']
most_gross_income = df.loc[most_gross, 'Gross']

print(f'The name of the movie is {most_movie} and the total gross was {most_gross_income}')

The name of the movie is Star Wars: Episode VII - The Force Awakens and the total gross was 936662225.0

i used the .idxmax funtion to return the most gross value for both the series title colum and the gross colum then used the print function to return the movie name with the highest gross

In [ ]:
Best_Rating = df['IMDB_Rating'].idxmax()

Best_Movie_Rating =df.loc[Best_Rating, 'Series_Title']

print(f'The movie with the highest rating is {Best_Movie_Rating}')

The movie with the highest rating is The Shawshank Redemption

In [ ]:
df['Released_Year'].value_counts()

2014    32
2004    31
2009    29
2013    28
2016    28
        ..
1926     1
1936     1
1924     1
1921     1
PG       1
Name: Released_Year, Length: 100, dtype: int64

In [ ]:
df['Gross'].mean()

68034750.87364621

In [ ]:
df['Gross'].median()

23530892.0

In [ ]:
df['Gross'] / df['Runtime']

df['Gross_Per_Minute'] = df['Gross'] / df['Runtime']

df.head()

,Unnamed: 0,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,Gross_per_minute,Gross_Per_Minute
0,0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469.0,1.995878e+05,1.995878e+05
1,1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0,7.712366e+05,7.712366e+05
2,2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0,3.518806e+06,3.518806e+06
3,3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0,2.836634e+05,2.836634e+05
4,4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0,4.541667e+04,4.541667e+04