<a href="https://colab.research.google.com/github/Rmiller01/Btech-Python/blob/main/Module_6_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from scipy import stats


df = pd.read_csv("invoices.csv")

<ipython-input-20-b3a8be90c741>:5: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("invoices.csv")

In [ ]:
df.info()

In [ ]:

def print_null_values(df):
    null_counts = df.isnull().sum()
    for column, count in null_counts.items():
        if count > 0:
            print(f"Column '{column}' has {count} null value(s)")


print_null_values(df)

In [ ]:
df.describe()

In [ ]:
customer_invoices = df.groupby('Customer')['InvoiceID'].nunique().reset_index()


customer_with_most_invoices = customer_invoices.sort_values(by='InvoiceID', ascending=False).iloc[0]

most_invoices_customer_id = customer_with_most_invoices['Customer']


print(f"Customer {most_invoices_customer_id} created the most unique invoices")

In [ ]:
count_null_rows = df[(df['StockItemID'].isnull()) & (df['Description'].isnull())].shape[0]

print("Number of rows with both null StockItemID and null Description:", count_null_rows)

In [ ]:
rows_before = df.shape[0]

df_cleaned = df.dropna(subset=['StockItemID', 'Description'])

rows_after = df_cleaned.shape[0]

print("Number of rows before dropping:", rows_before)
print("Number of rows after dropping:", rows_after)

In [ ]:
def convert_negative_tax(rate):
    if rate < 0:
        return rate * -1
    else:
        return rate


df['TaxRate'] = df['TaxRate'].apply(convert_negative_tax)


print(df['TaxRate'])

In [ ]:
def calculate_average(column):
    return column.mean()


average_tax_rate = calculate_average(df['TaxRate'])


print("Average Tax Rate:", average_tax_rate)

Average Tax Rate: 14.992725100330984

In [ ]:
data_cleaned = df.dropna(subset=['TaxAmount'])

In [ ]:
average_tax_amount = data_cleaned['TaxAmount'].mean()

print("Average TaxAmount after dropping null values:", average_tax_amount)

Average TaxAmount after dropping null values: 110.87294243498098

In [ ]:
mask = df['TaxAmount'].isnull()


imputed_values = (df['UnitPrice'] * df['Quantity'] * df['TaxRate']) / 100

df.loc[mask, 'TaxAmount'] = imputed_values[mask]

average_tax_amount_after_imputation = df['TaxAmount'].mean()

print("Average TaxAmount after imputation:", average_tax_amount_after_imputation)

Average TaxAmount after imputation: 110.87294243498098

In [ ]:
invoice_data = df[['InvoiceLineID', 'InvoiceID']]


duplicate_rows = invoice_data[invoice_data.duplicated(subset=['InvoiceLineID', 'InvoiceID'], keep=False)]


print("Duplicate Rows:")
print(duplicate_rows)

Duplicate Rows:
        InvoiceLineID  InvoiceID
4                   5          4
75                 76         35
273               274        122
334               335        154
411               412        178
...               ...        ...
230543          36558      11285
230544          21110       6502
230545          34087      10504
230546         103435      31836
230547         192963      59503

[4566 rows x 2 columns]

In [ ]:
data = df.drop_duplicates(subset=['InvoiceLineID', 'InvoiceID'])

# Calculate the total number of rows in the data set after dropping duplicates
total_rows_after_drop = len(data)

# Display the total number of rows
print("Total rows after dropping duplicates:", total_rows_after_drop)

Total rows after dropping duplicates: 228265

In [ ]:
z_scores = abs(stats.zscore(df['Quantity']))

# Define the z-score threshold for outliers
z_score_threshold = 3

# Identify rows where the absolute z-score is greater than the threshold
outliers_quantity = df[z_scores > z_score_threshold]

# Count the number of rows considered outliers based on Quantity
num_outliers_quantity = len(outliers_quantity)

print(f"Based on the Quantity column, {num_outliers_quantity} rows could be considered outliers.")

Based on the Quantity column, 6002 rows could be considered outliers.

In [ ]:
profit_by_item = df.groupby('Description')['LineProfit'].sum()

# Find the item with the highest total profit
most_profitable_item = profit_by_item.idxmax()
total_profit = profit_by_item.max()

print(f"The item generating the most total profit is '{most_profitable_item}' with a total profit of {total_profit}.")

The item generating the most total profit is '20 mm Double sided bubble wrap 50m' with a total profit of 5323120.0.

In [ ]:
average_quantity_by_item = df.groupby('Description')['Quantity'].mean()

# Find the item with the highest average quantity
most_purchased_item = average_quantity_by_item.idxmax()
average_quantity = average_quantity_by_item.max()

print(f"The item purchased in the greatest quantities in a single order, on average, is '{most_purchased_item}' with an average quantity of {average_quantity}.")

The item purchased in the greatest quantities in a single order, on average, is 'Black and orange fragile despatch tape 48mmx75m' with an average quantity of 199.5114503816794.

In [ ]:
total_quantity_sold_by_item = df.groupby('Description')['Quantity'].sum()

# Find the item with the highest total quantity sold
highest_quantity_item = total_quantity_sold_by_item.idxmax()
total_quantity_sold = total_quantity_sold_by_item.max()

print(f"The item with the highest total quantity sold is '{highest_quantity_item}' with a total quantity sold of {total_quantity_sold}.")

The item with the highest total quantity sold is 'Black and orange fragile despatch tape 48mmx75m' with a total quantity sold of 209088.