<a href="https://colab.research.google.com/github/Rmiller01/Btech-Python/blob/main/Module_4_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv("Rankings_2022.csv")

In [ ]:
df.head(5)

In [ ]:
df.sort_values(by="name", ascending=True)

In [ ]:
player_data = [
    {"name": "Adrian Mannarino", "rank": "58"},
    {"name": "Albert Ramos", "rank": "44"},
    {"name": "Alejandro Daviodovich Fokina", "rank": "47"},
    {"name": "Alejandro Tabilo", "rank": "144"},
    {"name": "Aleksnadar Vukic", "rank": "140"},
]

In [ ]:
player_rank = df[df['rank']== 100]

print(player_rank)

In [ ]:
middle_player_rank = [{"rank": "100", "name": "Steve Johnson", "country_name": "United States", "points": "719"}]

print(middle_player_rank)

In [ ]:
#What is the expected output for the following code?
rank_1 = {
    'name': 'Novak Djokovic',
    'points': 11015
}
rank_2 = {
    'name': 'Daniil Medvedev',
    'points': 10125
}
rank_3 = {
    'name': 'Alexander Zverev',
    'points': 7780
}
players = [rank_1 , rank_2, rank_3]


for best in players:
    print(best['name'])

Novak Djokovic
Daniil Medvedev
Alexander Zverev

In [ ]:
top_3_greats = [
    {'name': 'Novak Djokovic', 'points': 11015 },
    {'name': 'Daniil Medvedev', 'points': 10125},
    {'name': 'Alexander Zverev', 'points': 7780}
]

total_points = 0

for player in top_3_greats:
    total_points += player['points']

average_points = total_points / 3

print("Average Points of Top 3 Tennis Players:")
print(average_points)

Average Points of Top 3 Tennis Players:
9640.0

In [ ]:
tennis_players = [
    {'name': 'Novak Djokovic', 'country': 'Serbia', 'rank': 1},
    {'name': 'Daniil Medvedev', 'country': 'Russian Federation', 'rank': 2},
    {'name': 'Alexander Zverev', 'country': 'Germany', 'rank': 3},
    {'name': 'Stefanos Tsitsipas', 'country': 'Greece', 'rank': 4},
    {'name': 'Rafael Nadal', 'country': 'Spain', 'rank': 5}
]

for player in tennis_players:
  print(tennis_players)