<a href="https://colab.research.google.com/github/Rmiller01/Btech-Python/blob/main/Module_5_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("senator_tweets-3.csv")

In [ ]:
def print_name_and_message(message):
    my_name = 'Ryan Miller'  # Replace 'Your Name' with your actual name
    print(f"{my_name}: {message}")


message = 'Hello, World!'# Enter a message
print_name_and_message(message)

Ryan Miller: Hello, World!

In [ ]:
def add_and_check_even_or_odd(num1, num2):
    result = num1 + num2


    if result % 2 == 0:
        print(f"The result ({result}) is even.")
    else:
        print(f"The result ({result}) is odd.")

num1 = -43
num2 = 81
add_and_check_even_or_odd(num1, num2)

The result (38) is even.

In [ ]:
def fahr_to_cels(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius


temp_fahrenheit = 63
temp_celsius = fahr_to_cels(temp_fahrenheit)
print(f"{temp_fahrenheit} degrees Fahrenheit is equal to {temp_celsius:.2f} degrees Celsius.")

63 degrees Fahrenheit is equal to 17.22 degrees Celsius.

In [ ]:
def leap_year_Y_Or_N(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False


year = 2032
if leap_year_Y_Or_N(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2032 is a leap year.

In [ ]:
def chinese_zodiac(year):
    zodiac_animals = ["Rat", "Ox", "Tiger", "Rabbit", "Dragon", "Snake", "Horse", "Sheep", "Monkey", "Rooster", "Dog", "Pig"]

    if year >= 1900:
        zodiac_index = (year - 1900) % 12
        zodiac_sign = zodiac_animals[zodiac_index]
        print(f"The Chinese Zodiac sign for the year {year} is {zodiac_sign}.")
    else:
        print("Please enter a valid year after 1900.")


year = 2073
chinese_zodiac(year)

The Chinese Zodiac sign for the year 2073 is Snake.

In [ ]:
df['tweet length'] = df['text'].str.len()

In [ ]:
Correlation_TextLen_Retweets = df['tweet length'].corr(df['retweets'])
Correlation_TextLen_Favorites = df['tweet length'].corr(df['favorites'])


print(Correlation_TextLen_Favorites)
print(Correlation_TextLen_Retweets)

In [ ]:
Correllation_TextLen_Replies = df['tweet length'].corr(df['replies'])

print(Correllation_TextLen_Replies)

0.005933593170796377

In [ ]:
df['tweet length'].min()

1

In [ ]:
Tweet_immigration = df['text'].str.contains("immigration")


count_immigration_tweets = Tweet_immigration.sum()

print("the number of tweets containing the word immigration is :", count_immigration_tweets)

the number of tweets containing the word immigration is : 1329

In [ ]:
Tweet_Canada = df['text'].str.contains("Canada")


count_Canada_tweets = Tweet_Canada.sum()

print("the number of tweets containing the word immigration is :", count_Canada_tweets)

the number of tweets containing the word immigration is : 219

In [ ]:
df['Year'] = pd.to_datetime(df['created_at']).dt.year

tweets_2010 = df[df['Year'] == 2010]

senators_tweets_2010 = tweets_2010[tweets_2010['text'].str.contains('senator')]

num_tweets_by_senators_2010 = len(senators_tweets_2010)

print(f"The number of tweets sent by senators in 2010 is {num_tweets_by_senators_2010}.")

The number of tweets sent by senators in 2010 is 2.

In [ ]:
df['Timestamp'] = pd.to_datetime(df['created_at'])

df['Month'] = df['Timestamp'].dt.month

print(df[['Timestamp', 'Month']])

df.head(13)

In [ ]:
df['tweet_date'] = pd.to_datetime(df['created_at'])

df['year'] = df['tweet_date'].dt.year
df['month'] = df['tweet_date'].dt.month

monthly_tweet_counts = df.groupby(['year', 'month']).size().reset_index(name='tweet_count')

max_tweet_month = monthly_tweet_counts[monthly_tweet_counts['tweet_count'] == monthly_tweet_counts['tweet_count'].max()]

print(monthly_tweet_counts)
print("Month with the most tweets by senators:")
print(max_tweet_month)

In [ ]:
df['word_count'] = df['text'].str.split().apply(len)


print(df[['text', 'word_count']])

                                                     text  word_count
0       We released bipartisan healthcare bill today &...          15
1       I spoke with @Morning_Joe team abt #HonestAds ...          18
2       Lots of interest in my bill with Senators Warn...          18
3       Today's the day @MarkWarner, @SenJohnMcCain &a...          18
4       .@MarkWarner, @SenJohnMcCain &amp; I put toget...          22
...                                                   ...         ...
288610  Such a zone would allow the flow of unfettered...          23
288611  I welcome greater cooperation between the U.S....          24
288612  Educacií_n sobre la prevencií_n del abuso sexu...          19
288613  Education on sexual assault prevention should ...          16
288614  25 years since passage, the ADA has helped ens...          21

[288615 rows x 2 columns]

In [ ]:
average_word_count_by_state = df.groupby('state')['word_count'].mean().reset_index()

state_with_longest_tweets = average_word_count_by_state[average_word_count_by_state['word_count'] == average_word_count_by_state['word_count'].max()]

print("State with senators who publish the longest tweets on average:")
print(state_with_longest_tweets)

State with senators who publish the longest tweets on average:
   state  word_count
33    NY   19.549318

In [ ]:
import pandas as pd

df = pd.read_csv("invoice_lines.csv")

In [ ]:
color_pattern = r'\((color[\w\s]+)\)'

df['product_colors'] = df['Description'].str.findall(color_pattern)


df['product_colors'] = df['product_colors'].apply(lambda x: x if len(x) > 0 else ["No Color"])


print(df[['Description', 'product_colors']])

In [ ]:
slippers_df = df[df['Description'].str.contains('slipper')]

size_pattern = r'\s([A-Z]+)$'

slippers_df['slipper_size'] = slippers_df['Description'].str.extract(size_pattern)

print(slippers_df[['Description', 'slipper_size']])

In [ ]:
size_counts = slippers_df.groupby('slipper_size')['Quantity'].sum().reset_index()


most_popular_size = size_counts[size_counts['Quantity'] == size_counts['Quantity'].max()]


print("The most popular size of slipper by total quantity ordered is:")
print(most_popular_size)

The most popular size of slipper by total quantity ordered is:
  slipper_size  Quantity
3           XL     29483